* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial;
  background-color: #fafafa;
}

.app-layout {
  display: flex;
  justify-content: center;
}

.feed-container {
  width: 470px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .feed-container {
    width: 100%;
    margin-top: 60px;
  }
}
